<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragments/header :: header">
	<title>Liste des cve</title>
</head>

<body>
	<div th:replace="./fragments/menu :: menu"></div>

	<div class="container">
		
		<h1>Liste des cve</h1>
		<div class="row">
				<div class="col-sm-3" th:each="cve : ${cves}">
					<div class="card">
						<h5 class="card-header" th:text="${cve.title}">
						  Nom : 
						</h5>
						<div class="card-body">
							<div>Publié le : <span th:text="${cve.published}"></span></div>
							<div>Modifier le : <span th:text="${cve.published}"></span></div>
						</div>
					</div>
				</div>
				<div>page : <span th:if="${cvePage!=1}"><a th:href="@{/cves/page(nb=${before})}"><span th:text="${before}"></span></a>  -  </span></div>
				<div><span th:text="${cvePage}"></span></div>
				<div> - <a th:href="@{/cves/page(nb=${next})}"><span th:text="${next}"></span></a></div>
		</div>
		
	</div>
	
	<div th:replace="./fragments/footer :: footer"></div>
</body>
</html>