<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="./fragments/header :: header">
<title>Index</title>
</head>

<body>
	<div th:replace="./fragments/menu :: menu"></div>

	<div class="container">
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading">Connexion</h3>
			<label for=email>Email</label>
			<input type="text" id="email" name="email"
				th:placeholder="Email" class="form-control" /> 
			<br /> 
			<label for=password>Email</label>
			<input
				type="password" th:placeholder="Password" id="password"
				name="password" class="form-control" /> 
			<br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Erreur d'email ou de
					mot de passe</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>


	
	<div th:replace="./fragments/footer :: footer"></div>
</body>
</html>